/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #484848;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-bottom: 10px;
    margin-left: 8px;
    margin-right: 8px;
    width: 100%;
    text-align: left;
    border: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s ease-out;
  }
  .accordion:after {
    content: 'Click to Read \02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "Minimize \2796"; /* Unicode character for "minus" sign (-) */
  }
  /* .blog {
    display: flex;
    flex-direction: column-reverse;
} */

