html{
    scroll-behavior: smooth;
}
#skip{
    position: relative;
    left: -500px;
    
}
#skip:focus{
    left:15px;
    transition: .75s
}
#about{
    display: flex;
    justify-content: center;
    margin: 20px;
}
#Sarah{
    border-radius: 10%;
}
body{
    font-family: Courier, monospace;
    font-size: 16px;
}
h1{
    font-family: Luminari, fantasy;
    font-size: 30px;
    text-align: center;
    background-color: #88a75d;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-right: 5px;
    width: 100%;
    margin: 0px 5px 0px 5px;
}
h2{
    font-family: "Raleway Heavy";
    font-style: italic;
    font-variant: small-caps;
    font-size: 60px;
    text-align: center;
}
h3{
    font-family: "Roboto Condensed";
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 30px;
}
h4{
    font-family: "Roboto Condensed";
    text-transform: small-caps;
    letter-spacing: 1.25px;
    font-size: 20px;
}
p{
    padding: 10px;
}
.quote{
    padding-right: 30px;
    padding-left: 30px;
    font-style: italic;
}
.special-heading{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: rgba(255, 255, 255, .4);
    padding: 10px 20px;
}
.glendalough{
    background-image: url("../images/glenbanner.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
.kilkenny{
    background-image: url("../images/kilkenny_banner.jpeg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
.dublin{
    background-image: url("../images/dublin_banner.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
.blog{
    background-image: url("../images/blog_banner.JPEG");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
.about{
    background-image: url("../images/me_wide.jpeg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        }
nav{
    /* position:absolute;
    top: 0; */
    width: 100%;
    text-align: center;
    font-weight: bold;
    line-height: 40px;
    background: #88a75d;
    border-top: solid 4px rgb(249, 171, 64);
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0px 5px 0px 5px;
}
nav a{
    text-decoration: none;
    color: #000000;
    margin: 10px;
}
nav a:hover {
    background-color: #c0dc99;
    color: #000;
    padding: 10px; 
}
nav a:focus {
    background-color: #b4b4b4;
    color: #000;
    padding: 10px;
}
.current{
    font-size: 18px;
    font-weight: bolder;
    border-bottom: solid 4px rgb(249, 171, 64);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 10px
}
.current::before{
    content:'\2618  ';
}
.current::after{
    content:' \2618';
}
.image-grid {
    display: grid;
    grid-template-columns: 1fr;
    margin: 5px;
    grid-gap: 10px
}
.image-grid .image-container {
    position: relative;
    text-align: center;
}
.image-grid img {
    width: 100%;
    margin: auto;
    align-items: center;
}
.full-height img {
    height: 100%;
}
.image-grid img:focus{
    -webkit-box-shadow: 0px 0px 14px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 14px 0px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 14px 0px rgba(66, 68, 90, 1);
}
.image-grid img:focus{
    opacity: 50%;
}
.image-grid img:hover{
    opacity: 50%;
    transition: opacity 2s 0.3 ease;
}
figcaption{
    position: absolute;
    top: 40%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    opacity: 0;
}
.image-grid img:hover + figcaption {
    opacity: 1;
    transition: opacity 0.3s ease;
}
.image-grid img:focus + figcaption {
    opacity: 1;
    transition: opacity 0.3s ease;
}
.video-grid {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    grid-gap: 10px;
    padding: 10px;
}
/* Overlay styles */
/* .image-grid .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-grid .text {
    color: rgb(0, 0, 0);
    font-size: 2vw;
    text-align: center;
    padding: 10px;
    visibility: hidden;
}
.image-grid .image-container:hover .overlay {
    opacity: 1;
}
.image-grid .image-container:hover .text {
    visibility: visible;
}
/* Adjusted styles for hover and focus */
/* .image-grid .image-container:hover img, 
.image-grid .image-container:focus img {
    opacity: 0.4;
} */

@media (prefers-reduced-motion: reduce) {
    html {
      		scroll-behavior: auto; /* Disable smooth scrolling */
    }

    #skipfocus{
        	transition: 0s !important;
    }
  }
  @media (prefers-color-scheme: dark) {
    nav {
        background: #333;
        border: solid 4px #734A12;
       }
        nav a {
               color: #fff;
    }
    body {background: #292929;}
    main{color:#f4f4f4}
    h1{color:#f4f4f4}
    footer{color:#f4f4f4}
    a{color: #f4f4f4;}
}
@media screen and (min-width: 760px){
    .image-grid{
        grid-template-columns: 1fr 1fr;
        justify-content: center;
}
}
@media screen and (min-width: 995px){
    .image-grid{
        grid-template-columns: 30% 30% 30%;
}
/* .image-grid img:nth-child(4n) {
   grid-column: 2/3;
} */
}
