html{
    scroll-behavior: smooth;
}
#skip{
    position: relative;
    left: -500px;
    
}
#skip:focus{
    left:15px;
    transition: .75s
}
#about{
    display: grid;
}
.about-photo{
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
}
#Sarah{
    border-radius: 10%;
}
body{
    font-family: Courier, monospace;
    font-size: 16px;
}
/* header{
    position:sticky;
    top: 0;
    z-index: 999;
    background-color: rgba(136, 167, 93, 0.5); /* Initial background with some transparency */
    /* transition: background-color 0.3s ease;
} */
h1{
    font-family: Luminari, fantasy;
    font-size: 20px;
    text-align: center;
    background-color: #88a75d;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-right: 5px;
    width: 100%;
    margin: 0px 0px 0px 0px;
}
h2{
    font-family: "Raleway Heavy";
    font-style: italic;
    font-variant: small-caps;
    font-size: 40px;
    text-align: center;
}
h3{
    font-family: "Roboto Condensed";
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 24px;
    color: #487d1d;
    margin-left: 8px;
}
h4{
    font-family: "Roboto Condensed";
    text-transform: small-caps;
    letter-spacing: 1.25px;
    font-size: 20px;
}
p{
    padding: 10px;
}
.quote{
    padding-right: 30px;
    padding-left: 30px;
    font-style: italic;
}
.special-heading{
    position: absolute;
    width: 200%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: rgba(255, 255, 255, .4);
    padding: 10px 20px;
}
.header-container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
}
.parallax{
    width:100%;
    margin: auto;
}
a {
    color:#487d1d;
}
nav{
    width: 100%;
    text-align: center;
    font-weight: bold;
    line-height: 40px;
    background: #88a75d;
    border-top: solid 4px rgb(249, 171, 64);
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0px;
}
nav a{
    text-decoration: none;
    white-space: nowrap;
    color: #000000;
    margin: 10px;
    padding: 10px;
}
nav a:hover {
    background-color: #c0dc99;
    color: #000;
}
nav a:focus {
    background-color: #d5e3c2;
    color: #000;
}
.current{
    font-size: 18px;
    font-weight: bolder;
    border-bottom: solid 4px rgb(249, 171, 64);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 10px
}
.current::before{
    content:'\2618  ';
}
.current::after{
    content:' \2618 ';
}
.image-grid {
    display: grid;
    grid-template-columns: 1fr;
    margin: 5px;
    grid-gap: 10px
}
.image-grid .image-container {
    position: relative;
    text-align: center;
}
.image-grid img {
    width: 100%;
    margin: auto;
    align-items: center;
}
.image-grid img:focus{
    -webkit-box-shadow: 0px 0px 14px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 14px 0px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 14px 0px rgba(66, 68, 90, 1);
}
.image-grid img:focus{
    opacity: 50%;
}
.blog-image img:focus{
    opacity: 100%;
}
.image-grid img:hover{
    opacity: 50%;
    transition: opacity 2s 0.3 ease;
}
figcaption{
    position: absolute;
    top: 40%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    opacity: 0;
}
.image-grid img:hover + figcaption {
    opacity: 1;
    transition: opacity 0.3s ease;
}
.image-grid img:focus + figcaption {
    opacity: 1;
    transition: opacity 0.3s ease;
}
.video-grid {
    display:grid;
    justify-content: center;
    align-items: center;
    margin: 5px;
    grid-gap: 10px;
    padding: 10px;
}
.video-figure {
    display: flex;
    justify-content: center
}
.button-grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 10px;
    margin-left: 10px;
}
.gallery-button{
    text-align: center;
    font-family: Courier, monospace;
    padding: 10px;
    margin: 10px;
    background: #88a75d;
    color: #000;
    
}
.gallery-button:hover {
    background-color: #c0dc99;
    color: #000; 
    font-weight: bold;
}
.gallery-button:focus {
    background-color: #d5e3c2;
    color: #000;
    font-weight: bold;
}

@media (prefers-reduced-motion: reduce) {
    html {
      		scroll-behavior: auto; /* Disable smooth scrolling */
    }

    .image-grid img:focus + figcaption, .image-grid img:hover + figcaption, #skip:focus, .image-grid img:hover {
        	transition: 0s !important;
    }

  }
  @media (prefers-color-scheme: dark) {
    nav {
        background: #333;
        border: solid 4px #734A12;
       }
        nav a {
               color: #fff;
    }
    body {background: #292929;}
    main{color:#f4f4f4}
    h1{color:#f4f4f4}
    footer{color:#f4f4f4}
    a{color: #f4f4f4;}
}
@media screen and (min-width: 760px){
    .image-grid{
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
    h2{
        font-size: 60px;
    }
}
@media screen and (min-width: 995px){
    .image-grid{
        grid-template-columns: 30% 30% 30%;
}
h1{
    font-size: 30px;
}
.video-grid{
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.parallax{
    display: none;
}
.kilkenny{
    background-image: url("../images/kilkennycastle_banner.jpeg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
.glendalough{
    background-image: url("../images/glenbanner.JPG");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
.dublin{
    background-image: url("../images/dublin_banner2.JPG");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
.blog{
    background-image: url("../images/blog_banner.JPEG");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    }
.northern{
    background-image: url("../images/northern_banner.JPG");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    }
.galway{
    background-image: url("../images/galway_banner2.JPG");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    }
.cliffs{
        background-image: url("../images/cliffs_banner.JPG");
        min-height: 500px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
        }
#about{
        display: flex;
        justify-content: center;
        margin: 20px;
    }
/* .image-grid img:nth-child(4n) {
   grid-column: 2/3;
} */
}